@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  body {
    @apply dark:bg-gray-900;
  }
}

@layer components {
  .my-custom-pagination {
    @apply bg-white dark:text-white text-gray-700 dark:bg-gray-700 flex flex-nowrap gap-2 sticky inset-0 overflow-auto px-2 z-[100]; /* add safari */ /* z-100 */
  }
  .my-custom-pagination > span {
    @apply bg-gray-100 dark:bg-gray-900;
  }
}
.swiper-pagination-bullet {
  padding: 0.7rem 1.5rem !important;
  height: 2.5rem !important;
  margin: 1rem 0 !important;
  width: auto !important;
  white-space: nowrap;
  border-radius: 10000px !important;
  display: flex !important;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  opacity: 1 !important;
  font-size: small;
}

.animateItems {
  animation: up 3s linear;
}

@keyframes up {
  from {
    transform: translateY(50%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.eax {
  margin-left: 17px;
  margin-top: 17px;
  cursor: pointer;
  height: 24px !important;
  width: 24px !important;
  transition: all 0.3s ease;
}

input,
textarea,
button,
select,
div,
.eax,
.class,
p,
a {
  -webkit-tap-highlight-color: transparent;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: hsl(180, 100%, 25%) !important;
}
